

{{#extend "navigation"}}
  {{> navigation}}
{{/extend}}


{{#extend "stylesheets"}}
<link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css" />
{{/extend}}

<div class="col-sm-12 blog-main">
  {{> flash}}

  <div class="panel panel-default">
  
    <div class="panel-heading">
      <span class="glyphicon glyphicon-calendar text-danger"></span> Edit Event
  
      <a href="/admin/events" class="close pull-right">&times;</a>
  
    </div>
  
    <div class="panel-body">
    <form class="form-horizontal" id="event-form" action="/events/edit" method="POST">
      <input type="hidden" name="_csrf" value="{{_csrf}}" />
      <input type="hidden" name="event_id" value="{{event.id}}" />

  
      <div class="form-group">
        <label class="col-sm-3 control-label" for="date">
          Date <span class="text-danger">*</span>
        </label>
  
        <div class="col-sm-7">
            <div class='input-group date' id='dateDiv'>
              <input class="form-control" type="text" name="date" value="{{#parseDate event.dt 'MM/DD/YYYY'}}{{/parseDate}}" id="date" required="">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
        </div>
      </div>
  
      <div class="form-group">
        <label class="col-sm-3 control-label" for="start_time"></label>
        <div class="col-sm-7">
            <div class='col-sm-5'>
              <div class="form-group">
  
                <label class="control-label" for="start_time">
                  Starting Time <span class="text-danger">*</span>
                </label>
  
                <div class='input-group date' id='startTimeDiv'>
                  <input class="form-control" type="text" name="start_time" id="start_time" value="{{#myTime event.start_time 'h:mm A'}}{{/myTime}}" required="">
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                  </span>
                </div>
              </div>
            </div>
  
            <div class='col-sm-offset-2 col-sm-5'>
              <div class="form-group">
  
                <label class="control-label" for="finish_time">
                  Finishing Time
                </label>
  
                <div class='input-group date' id='finishTimeDiv'>
                  <input class="form-control" type="text" name="finish_time" id="finish_time" value="{{#myTime event.finish_time 'h:mm A'}}{{/myTime}}" >
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                  </span>
                </div>
              </div>
            </div>
        </div>
      </div>
        
      <div class="form-group">
        <label class="col-sm-3 control-label" for="title">
          Title <span class="text-danger">*</span>
        </label>
  
        <div class="col-sm-7">
          <input class="form-control" type="text" name="title" id="title" placeholder="Event Title" required="" value="{{event.title}}" autofocus />
        </div>
      </div>
  
      <div class="form-group">
        <label class="col-sm-3 control-label" for="short_desc">
          Short Description <span class="text-danger">*</span>
        </label>
        <div class="col-sm-7">
          <textarea class="form-control" size="124" rows="2" name="short_desc" id="short_desc" placeholder="" required="">{{event.short_desc}}</textarea>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-sm-3 control-label" for="markdown">
          Full Description <span class="text-danger">*</span>
        </label>
  
        <div class="col-sm-7">
          <textarea class="form-control" rows="4" name="markdown" id="markdown" placeholder="" required="">{{event.markdown}}</textarea>
        </div>
      </div>
  
      <div class="form-group">
        <label class="col-sm-3 control-label" for="email">
          Contact Email <span class="text-danger">*</span>
        </label>
  
        <div class="col-sm-7">
          <input class="form-control" type="text" name="email" id="email" value="{{event.email}}" required="" />
        </div>
      </div>
  
  
      <div class="form-group">
        <label class="col-sm-3 control-label" for="number">
          Contact Number
        </label>
  
        <div class="col-sm-7">
          <input class="form-control" type="text" name="number" id="number" placeholder="Contact Number" value="{{event.number}}" />
        </div>
      </div>
  
  
      <div class="form-group">
        <label class="col-sm-3 control-label" for="webpage">
          Event Website
        </label>
  
        <div class="col-sm-7">
          <input class="form-control" type="text" name="webpage" id="webpage" placeholder="Url" value="{{event.website}}" />
        </div>
      </div>
  
      <div class="form-group">
        <label class="col-sm-3 control-label" for="geocomplete">
          Location <span class="text-danger">*</span>
        </label>
        <div class="col-sm-7">
          <input class="form-control" type="text" name="geocomplete" id="geocomplete"  value="{{event.address}}" required="">
        </div>
      </div>
  
  
      <div class="form-group">
        <label class="col-sm-3 control-label" for="administrative_area_level_1">
          Province
        </label>
  
        <div class="col-sm-7">
          <input class="form-control" type="text" name="administrative_area_level_1" id="administrative_area_level_1" value="{{event.province}}" required="" />
        </div>
      </div>
  
  
      <div class="form-group">
        <label class="col-sm-3 control-label" for="locality">
          City
        </label>
  
        <div class="col-sm-7">
          <input class="form-control" type="text" name="locality" id="locality" value="{{event.city}}" required="" />
        </div>
      </div>
  
  
      <div class="form-group">
        <label class="col-sm-3 control-label" for="sublocality">
          Town
        </label>
  
        <div class="col-sm-7">
          <input class="form-control" type="text" name="sublocality" id="sublocality" value="{{event.town}}" />
        </div>
      </div>
  
  
      <div class="form-group">
        <label class="col-sm-3 control-label" for="lat">
          Latitude
        </label>
  
        <div class="col-sm-7">
          <input class="form-control" type="text" name="lat" id="lat" value="{{event.lat}}" />
        </div>
      </div>
  
  
      <div class="form-group">
        <label class="col-sm-3 control-label" for="lng">
          Longitude
        </label>
  
        <div class="col-sm-7">
          <input class="form-control" type="text" name="lng" id="lng" value="{{event.lng}}" />
        </div>
      </div>
  
      <input type="hidden" name="url" value="{{event.url}}" />
      <input type="hidden" name="formatted_address" value="{{event.address}}" />
  
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
          <button class="btn btn-success" type="submit">
            <i class="fa fa-check"></i> Update Event
          </button>
  
          <a href="/admin/events" class="btn btn-default">
              <span class="glyphicon glyphicon-remove"></span> Close
          </a>
        </div>
      </div>
    </form>
    </div>
  </div>
</div>


{{#extend "footer"}}
  {{> footer}}
{{/extend}}


{{#extend "scripts"}}
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script src="/js/jquery.geocomplete.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/bootstrap-datetimepicker.min.js"></script>
<script>
  $(function(){
    if (typeof google !== 'undefined') {
      $("#geocomplete").geocomplete({
        details: "#event-form",
        map: "#googlemap",
        mapOptions: {
          zoom: 10
        },
        componentRestrictions: {country: 'za'}
      });
    }


    $('#googlemap').on("focus", function() {
      $('#googlemap').slideDown('slow');
    });

    $('#dateDiv').datetimepicker({
      pickTime: false,
      minDate: moment().format('l')
    });

    $('#startTimeDiv').datetimepicker({
      pickDate: false
    });

    $('#finishTimeDiv').datetimepicker({
      pickDate: false
    });
  });
</script>
{{/extend}}
