



  <div class="container-fluid"> 

  <div class="row" id="eventVenue" style="height: 250px;background-color:#F5F5F5">  
  </div>
    <div class="row">  
      <div class="event panel panel-default">
        <div class="panel-body">
          <h2 class="blog-post-title">
            {{myEvent.title}}
          </h2>
          <p class="blog-post-meta">
            <span class="glyphicon glyphicon-map-marker"></span>
            <a href="{{myEvent.url}}" target="_blank">
              {{myEvent.address}}
            </a> | 
            <span class="glyphicon glyphicon-tag"></span> 
            {{myEvent.city}}
            {{#if myEvent.website}}
             | <span class="glyphicon glyphicon-globe"></span> 
             <a href="{{myEvent.website}}" target="_blank">{{myEvent.website}}</a>
            {{/if}} 
            {{#eventLabel myEvent.dt}}{{/eventLabel}}
          </p>

          <p>{{{myEvent.html}}}</p>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-6" style="text-align: left">
              <span class="glyphicon glyphicon-calendar text-danger"></span> {{#parseDate myEvent.dt ''}}{{/parseDate}}
            </div>

            <div class="col-md-6" style="text-align: right">
              <span class="glyphicon glyphicon-time text-danger"></span> {{parseTime}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
