

{{#extend "navigation"}}
  {{> navigation}}
{{/extend}}

{{#extend "jumbotron"}}
<div id="jumbotron" class="jumbotron events">
  <div class="container">
    <h1>Node.js Events</h1>

    <p>Checkout upcoming Node.js events<p>
  </div>
</div>
{{/extend}} 

<div class="col-sm-9 blog-main">
  {{> flash}}

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-7 no-padding">
      <ul class="list-inline">
        <li>
          <form action="/events/limit" name="eventslimit" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf}}" />
            <strong>Limit #</strong> <select name="limit" class="ddown limit">
                <option value="2" {{#ifCond query.limit '==' 2}}selected{{/ifCond}}>2</option>
                <option value="5" {{#ifCond query.limit '==' 5}}selected{{/ifCond}}>5</option>
                <option value="10" {{#ifCond query.limit '==' 10}}selected{{/ifCond}}>10</option>
                <option value="20" {{#ifCond query.limit '==' 20}}selected{{/ifCond}}>20</option>
                <option value="50" {{#ifCond query.limit '==' 50}}selected{{/ifCond}}>50</option>
                <option value="100" {{#ifCond query.limit '==' 100}}selected{{/ifCond}}>100</option>
              </select>
          </form>
        </li>
        <li>
          <form action="/events" name="eventsmonth" method="get">
            <strong>Month </strong> 
            <select name="month" class="ddown bymonth">
              <option value="">Select</option>
              <option value="jan" {{#ifCond query.month '==' 'jan'}}selected{{/ifCond}}>
                January
              </option>
              <option value="feb" {{#ifCond query.month '==' 'feb'}}selected{{/ifCond}}>
                February
              </option>
              <option value="mar" {{#ifCond query.month '==' 'mar'}}selected{{/ifCond}}>
                March
              </option>
              <option value="apr" {{#ifCond query.month '==' 'apr'}}selected{{/ifCond}}>
                April
              </option>
              <option value="may" {{#ifCond query.month '==' 'may'}}selected{{/ifCond}}>
                May
              </option>
              <option value="jun" {{#ifCond query.month '==' 'jun'}}selected{{/ifCond}}>
                June
              </option>
              <option value="jul" {{#ifCond query.month '==' 'jul'}}selected{{/ifCond}}>
                July
              </option>
              <option value="aug" {{#ifCond query.month '==' 'aug'}}selected{{/ifCond}}>
                August
              </option>
              <option value="sep" {{#ifCond query.month '==' 'sep'}}selected{{/ifCond}}>
                September
              </option>
              <option value="oct" {{#ifCond query.month '==' 'oct'}}selected{{/ifCond}}>
                October
              </option>
              <option value="nov" {{#ifCond query.month '==' 'nov'}}selected{{/ifCond}}>
                November
              </option>
              <option value="dec" {{#ifCond query.month '==' 'dec'}}selected{{/ifCond}}>
                December
              </option>
            </select>
          </form>
        </li>
      </div>
      <div class="col-sm-5 no-padding" style="text-align:right">
          <a href="/events/new" class="btn btn-danger">
            <span class="glyphicon glyphicon-calendar"></span> Add An Event
          </a>
      </div>
    </div>
    
    {{#each myEvents}}
    <div class="row" style="margin-top:10px;">  
      <div class="panel panel-default">
        <div class="panel-body">
          <h2 class="blog-post-title" style="margin-top:0px;">
            <a href="/events/{{slug}}">{{title}}</a>
          </h2 style="margin-top:0px;">
            <p class="blog-post-meta">
              <span class="glyphicon glyphicon-map-marker"></span>
              <a href="{{url}}" target="_blank">
                {{address}}
              </a> | 
              <span class="glyphicon glyphicon-tag"></span> 
              {{city}}
              {{#eventLabel dt}}{{/eventLabel}}
            </p>
          <p>{{short_desc}}</p>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-6" style="text-align: left">
              <span class="glyphicon glyphicon-calendar text-danger"></span> 
              {{#parseDate dt ''}}{{/parseDate}}
            </div>
            <div class="col-md-6" style="text-align: right">
              <span class="glyphicon glyphicon-time text-danger"></span>
              {{#myTime start_time}}{{/myTime}} 
            </div>
            
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  
    {{> pagination}}
  </div>
</div>

{{> sidebar}}


{{#extend "footer"}}
  {{> footer}}
{{/extend}}


{{#extend "scripts"}}
<script>
(function ($) {
  $(function () {
    // submit form when month and limit filters are changed
    $('select.ddown').on('change', function () {
      $(this).parent().submit();
    });
  })
}(jQuery));
</script>
{{/extend}}
