



  <div class="container-fluid"> 
    <div class="row">  
      <div class="panel panel-default">
        <div class="panel-body">
          <h2 class="blog-post-title">
            <%= myEvent.get('title') %>
          </h2>

          
            <p class="blog-post-meta">
              <span class="glyphicon glyphicon-map-marker"></span>
              <a href="<%= myEvent.get('url') %>" target="_blank">
                <%= myEvent.get('address') %>
              </a> | 
              <span class="glyphicon glyphicon-tag"></span> 
              <a href="/events/<%= myEvent.get('city') %>"><%= myEvent.get('city') %></a>

              <%
                if (myEvent.get('website')) {
              %>
               | <span class="glyphicon glyphicon-globe"></span> 
               <a href="<%= myEvent.get('website') %>" target="_blank"><%= myEvent.get('website') %></a>
              <%
                }
              %>
            </p>
          

          <p><%= myEvent.get('desc') %></p>

        </div>

        <div class="panel-footer" style="text-align:center">
          <div class="row">
            <div class="col-md-3">
              <span class="glyphicon glyphicon-calendar"></span> <%= myEvent.parseDate() %>
            </div>

            <div class="col-md-3">
              <span class="glyphicon glyphicon-time"></span> <%= myEvent.parseTime() %>
            </div>

            <div class="col-md-3">
              <span class="glyphicon glyphicon-map-marker"></span> 
              <a href="<%= myEvent.get('url') %>" target="_blank">Map</a>
            </div>

            <%
              if (myEvent.isUpComing()) {
            %>
            <div class="col-md-3">
              <span class="glyphicon glyphicon-envelope"></span> 
              <a href="mailto:<%= myEvent.get('email') %>"> 
                Contact</>
              </a>
            </div>
            <%
              }
            %>
          </div>
        </div>
      </div>
    </div>
  </div>
