

<div class="container-fluid">
  <div class="row" style="text-align:right">
    <a role="button" href="/account/events/new" class="btn btn-danger">
      <span class="glyphicon glyphicon-calendar"></span> Add An Event
    </a>
  </div>
  <div class="row" style="margin-top:5px;">
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th style="text-align:center">
            <input type="checkbox" id="selectall">
          </th>
          <th>
            Title
          </th>
          <th>
            Created At
          </th>
          <th>
          </th>
          <th>
          </th>
          <th>
            <span class="glyphicon glyphicon-eye-open"></span>
          </th>
        </tr>
      </thead>

      <tbody>
        {{#ifCond myEvents.length '>' 0}}
          {{#each myEvents}}
          <tr>
            <td style="text-align:center">
              <input type="checkbox" id="id" value="{{id}}">
            </td>
            <td>
              <a href="/events/edit/{{id}}">{{title}}</a> 
              <a href="/events/{{slug}}" target="_blank">
                <small>
                  <span class="glyphicon glyphicon-new-window text-danger"></span>
                </small>
              </a>
            </td>
            <td>
              {{#parseDate created_at 'DD-MM-YYYY HH:MM:ss'}}{{/parseDate}}
            </td>
            <td style="text-align:center">
              <a href="/events/edit/{{id}}" title="Edit">
                <span class="glyphicon glyphicon-pencil"></span>
              </a> 
            </td>
            <td style="text-align:center">
              <a href="/events/delete/{{id}}" onclick="return confirm('Are you sure you want to delete that post?')" class="text-danger" title="Delete">
                <span class="glyphicon glyphicon-trash"></span> 
              </a> 
            </td>
            <td style="text-align:center">
              {{views}}
            </td>
          </tr>
          {{/each}}
        {{/ifCond}}
      </tbody>
    </table>
  </div>

  {{> pagination}}

</div>