

{{#extend "navigation"}}
  {{> navigation}}
{{/extend}}


{{> leftsidebar}}

<div class="col-sm-9 blog-main">

  {{> flash}}

  <ul class="nav nav-tabs" style="margin-bottom: 20px;">
    <li class="active"><a href="/admin/settings"><span class="glyphicon glyphicon-wrench"></span> Global  Settings</a></li>
    <li><a href="/admin/settings/server"><span class="glyphicon glyphicon-tasks"></span> Server Settings</a></li>
    <li><a href="/admin/settings/account"><span class="glyphicon glyphicon-cog"></span> Account Settings</a></li>
  </ul>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      Global Settings
    </div>
    
    <div class="panel-body">
      <form class="form-horizontal" id="signup-form" action="/admin/config" method="POST">
        <input type="hidden" name="_csrf" value="{{_csrf}}" />
        <input type="hidden" name="id" value="site" />

          <div class="form-group">
            <label class="col-sm-3 control-label" for="siteName">Site Name</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="siteName" id="siteName" value="{{site.siteName}}" />
            </div>
          </div>
    
          <div class="form-group">
            <label class="col-sm-3 control-label" for="title">Meta Title</label>
            <div class="col-sm-7">
              <textarea class="form-control" rows="4" name="title" id="title">{{site.title}}</textarea>
            </div>
          </div>
    
          <div class="form-group">
            <label class="col-sm-3 control-label" for="description">Meta Description</label>
            <div class="col-sm-7">
              <textarea class="form-control" rows="4" name="description" id="description">{{site.description}}</textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="twitter_url">Twitter Url</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="twitter_url" id="twitter_url" value="{{site.twitter_url}}" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="github_url">Github Url</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="github_url" id="github_url"   value="{{site.github_url}}" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="sessionSecret">Session Secret</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="sessionSecret" id="sessionSecret"  value="{{site.sessionSecret}}" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="port">Default Port</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="port" id="port"  value="{{site.port}}" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="email">Default Email</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="email" id="email"  value="{{site.email}}" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="maxAge">Cache Expires</label>
            <div class="col-sm-7">
              <div class="input-group">
                <span class="input-group-addon">
                  Days
                </span>
                <input type="text" class="form-control" name="maxAge" id="maxAge" value="{{site.maxAge}}" />
              </div>
            </div>
          </div>
    
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-7">
              <button class="btn btn-success" type="submit">
                <i class="fa fa-check"></i> Update
              </button>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>

{{#extend "footer"}}
  {{> footer}}
{{/extend}}
