
  <div class="container-fluid">  
    <div class="row">
    {{#each meetups}}
      <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
          <a href="/meetups/{{slug}}">
            <img data-src="holder.js/300x200" alt="...">
          </a>
          <div class="caption">
            <h3><a href="/meetups/{{slug}}">{{name}}</a></h3>
            <p>
              <strong>Organiser:</strong> {{organiser}}
            </p>
            <p>
              <strong>When?</strong> {{meetings}}
            </p>
            <p>
              <strong>Venue:</strong> <a href="{{url}}" target="_blank">{{address}}</a>
            </p>
          </div>
        </div>
      </div>
    {{/each}}
    </div>
  
  {{> pagination }}
</div>
