
  <div class="container-fluid">
    <div class="row" style="margin-bottom: 15px; border-radius: 4px">

     <form>
      <ul class="list-unstyled list-inline">
        <li>
          <strong>Province:</strong> 
          <select name="province">
            <option>All</option>
            <option value="Eastern Cape">Eastern Cape</option>
            <option valuve="Free State">Free State</option>
            <option value="Gauteng">Gauteng</option>
            <option value="KwaZulu Natal">KwaZulu Natal</option>
            <option value="Limpopo">Limpopo</option>
            <option value="Mpumalanga">Mpumalanga</option>
            <option value="Northern Cape">Northern Cape</option>
            <option value="North West">North West</option>
            <option value="Western Province">Western Province</option>
          </select>
        </li>
      
        <li>
          <strong>City:</strong> 
          <select name="city">
            <option>Any</option>
          </select>
        </li>
      
        <li class="pull-right">
          <a href="/meetups/new" class="btn btn-danger">
            <span class="glyphicon glyphicon-calendar"></span>  Create a meetup
          </a>
        </li>
      </ul>
     <form>
    </div>

<%
    meetups.forEach(function (meetup) {
%>
    <div class="row" style="border: 1px solid #E7E7E7;margin-top: 10px; margin-bottom: 20px;padding-top: 10px; padding-bottom: 10px; border-radius: 4px">
      <div class="col-md-9">
        <h2 class="blog-post-title">
          <a href="/meetups/<%= meetup.get('id') %>"><%= meetup.get('name') %></a>
        </h2>

        <p>
          <strong>Organiser:</strong> <%= meetup.get('organiser') %>
          <br>
          <strong>Meetings:</strong> <%= meetup.get('meetings') %>
          <br>
          <strong>Venue:</strong> <a href="<%= meetup.get('url') %>" target="_blank"><%= meetup.get('address') %></a>
        </p>
        <!-- <p><%= meetup.get('desc').replace(/\n/g, "<br>") %></p> -->
      </div>

      <div class="col-md-3">
          <p>
            <span class="glyphicon glyphicon-tag"></span> 
            <%= meetup.get('city') %>
          </p>
          <p>
            <span class="glyphicon glyphicon-earphone"></span>
            <%= meetup.get('number') %>
          </p>
          <p>
            <span class="glyphicon glyphicon-envelope"></span>
            <a href="mailto:<%= meetup.get('email') %>"> 
               Contact
            </a>
          </p>
      </div>
    </div>
<%
    });
%>
    <% include ../partials/pagination %>
  </div>
