



<div class="container-fluid">

  
  <div class="row" id="meetupVenue" style="height: 250px;background-color:#F5F5F5">  
  </div>
  <div class="row" style="margin-bottom: 20px;">
    <div class="meetup panel panel-default">
      <div class="panel-body">
        <div class="col-md-8">
         <h3>{{{meetup.name}}}</h3>
        </div>
        <div class="col-md-8">
          <p>
          {{#if meetup.website}}
            <strong>Website:</strong> 
            <a href="{{meetup.website}}" target="_blank">
              {{meetup.website}}
            </a><br>
          {{/if}}

          <strong>Organiser:</strong> {{meetup.organiser}}
          <br>
          <strong>When?</strong> {{meetup.meetings}}
          <br>
          <strong>Venue:</strong> <a href="{{meetup.url}}" target="_blank">{{meetup.address}}</a>
        </p>

        </div>

        <div class="col-md-4">
          <p>
            <span class="glyphicon glyphicon-tag"></span> 
            {{meetup.city}}
          </p>
          <p>
            <span class="glyphicon glyphicon-earphone"></span> {{meetup.number}}
          </p>
          <!--
          <p>
            <span class="glyphicon glyphicon-envelope"></span>
            <a href="mailto:{{meetup.email}}"> 
              Contact
            </a>
          </p>-->
        </div>

        <div class="col-md-12">
          <p>{{{meetup.html}}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
