



<div class="container-fluid">
  <div class="row" style="margin-bottom: 20px;">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-md-9">
          
          <p>
          <% if(meetup.get('website') && meetup.get('website').length > 0) { %>
            <strong>Website:</strong> <a href="<%= meetup.get('website') %>" target="_blank"><%= meetup.get('website') %></a><br>
            
          <% } %>

        
          <strong>Organiser:</strong> <%= meetup.get('organiser') %>
          <br>
          <strong>When?</strong> <%= meetup.get('meetings') %>
          <br>
          <strong>Venue:</strong> <a href="<%= meetup.get('url') %>" target="_blank"><%= meetup.get('address') %></a>
        </p>

          <p><%- meetup.get('desc') %></p>

        </div>

        <div class="col-md-3">
          <p>
            <span class="glyphicon glyphicon-tag"></span> 
            <a href="/events/<%= meetup.get('city') %>"><%= meetup.get('city') %></a>
          </p>
          <p>
            <span class="glyphicon glyphicon-earphone"></span> <%= meetup.get('number') %>
          </p>
          <p>
            <span class="glyphicon glyphicon-envelope"></span>
            <a href="mailto:<%= meetup.get('email') %>"> 
               Contact
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
