


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">

      <div class="thumbnail">
        <img src="{{gravatar}}" class="profile-pic img-responsive" alt="{{profile.name}}" title="{{profile.name}}">

        <div class="caption">
          <p>
            <span class="glyphicon glyphicon-map-marker"></span> 
            {{profile.location}}
          </p>
          <p>
            <span class="glyphicon glyphicon-globe"></span> 
            <a href="{{profile.website}}" target="_blank">Website</a>
          </p>
        </div>
      </div>

      {{#if @WidgetCollection.leftsidebar}}
        {{#list @WidgetCollection.leftsidebar}}{{/list}}
      {{/if}}
    </div>

    <div class="col-sm-9">
      <h1 class="blog-post-title">{{profile.name}}</h1>

      {{#if profile.about}}

        <blockquote>
          <p>{{{profile.about}}}</p>
        </blockquote>
      {{/if}}

      <ul class="nav nav-tabs nav-justified" style="margin-bottom: 20px;">
        <li class="active">
          <a href="#myposts" data-toggle="tab">
            <span class="glyphicon glyphicon-list-alt"></span> 
            Posts
          </a>
        </li>
        <li>
          <a href="#contactform" data-toggle="tab">
            <span class="glyphicon glyphicon-envelope"></span>
            Contact Me
          </a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="myposts">
        {{#ifCond myposts.length '>' 0}}
          <dl class="dl-horizontal"> 
          {{#each myposts}}
            {{#if published}}
            <dt style="width:90px">
              {{#parseDate published_at 'DD-MM-YYYY'}}{{/parseDate}}
            </dt>
            <dd><a href="/blog/{{slug}}">{{title}}</a></dd>
            {{/if}}
          {{/each}}
          </dl>
        {{/ifCond}}
        </div>
        <div class="tab-pane" id="contactform">
<div class="panel panel-default">
  <div class="panel-heading">
    Contact Form
  </div>
  
  <div class="panel-body">
    <form class="form-horizontal" id="signup-form" action="/contact" method="POST"  >
      <input type="hidden" name="_csrf" value="{{_csrf}}" />
      <input type="hidden" name="_email" value="{{profile.email}}" />

      <div class="form-group">
        <label class="col-sm-3 control-label" for="name">Name:</label>
        <div class="col-sm-7">
          <input class="form-control" type="text" name="name" id="name" placeholder="Your name" required="">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label" for="email">
          Email:
        </label>
        <div class="col-sm-7">
          <input class="form-control" type="text" name="email" id="email" placeholder="Your email address" required="">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label" for="message">
          Message
        </label>
        <div class="col-sm-7">
          <textarea class="form-control" rows="5" name="message" id="message" required=""></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
          <button class="btn btn-success" type="submit">
            <span class="glyphicon glyphicon-check"></span> Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
        </div>
      </div>
    </div>
  </div>
</div>
