{{> leftsidebar}}

<div class="col-sm-9 blog-main">

  {{> flash}}

  <ul class="nav nav-tabs" style="margin-bottom: 20px;">
    <li class="active"><a href="/account"><span class="glyphicon glyphicon-user"></span> Profile Information</a></li>
    <li><a href="/account/password"><i class="fa fa-keyboard-o"></i> Change Password</a></li>
    <li><a href="/account/linked"><i class="fa fa-chain"></i> Linked Accounts</a></li>
  </ul>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      Profile Information
    </div>
    
    <div class="panel-body">
      <form class="form-horizontal" id="signup-form" action="/account" method="POST">
        <input type="hidden" name="_csrf" value="{{_csrf}}" />
        <input type="hidden" name="id" value="{{user.id}}" />
    
          <div class="form-group">
            <label class="col-sm-3 control-label" for="name">Name</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="name" id="name"   placeholder="Name" value="{{user.name}}" />
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-3 control-label" for="last_name">Last Name</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="last_name" id="last_name"   placeholder="Name" value="{{user.last_name}}" />
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-3 control-label" for="email">Email</label>
            <div class="col-sm-7">
              <input class="form-control" type="email" name="email" id="email" value="{{user.email}}" placeholder="Email" />
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-3 control-label" for="gender">Gender</label>
            <div class="col-sm-7">
              <label style="margin-left:20px" class="radio">
                <input type="radio" {{#ifCond user.gender '==' 'male'}}checked="checked"{{/ifCond}} name="gender" value="male" data-toggle="radio">
                <span>Male</span>
              </label>
    
              <label style="margin-left:20px" class="radio">
                <input type="radio" {{#ifCond user.gender '==' 'female'}}checked="checked"{{/ifCond}}  name="gender" value="female" data-toggle="radio">
                <span>Female</span>
              </label>
            </div>
          </div>
    
          <div class="form-group">
            <label class="col-sm-3 control-label" for="location">Location</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" value="{{user.location}}"   name="location" id="location" placeholder="Location">
              <span>
            </div>
          </div>
    
          <div class="form-group">
            <label class="col-sm-3 control-label" for="website">Website</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" value="{{user.website}}"   name="website" id="website" placeholder="Website">
              <span>
            </div>
          </div>
    
          <div class="form-group">
            <label class="col-sm-3 control-label" for="about">About Me</label>
            <div class="col-sm-7">
              <textarea class="form-control" rows="5" name="about" id="about" placeholder="Write   something about yourself...">{{user.about}}</textarea>
            </div>
          </div>
    
          <div class="form-group">
            <label class="col-sm-3 control-label" for="gravatar">Gravatar</label>
            <div class="col-sm-7">
              <img class="profile" height="100" width="100" src="{{gravatar}}">
            </div>
          </div>
    
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-7">
              <button class="btn btn-success" type="submit">
                <i class="fa fa-check"></i> Update Profile
              </button>
            </div>
          </div>
      </form>
    </div>
  </div>
  
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-trash-o"></i> Delete Account
    </div>
    
    <div class="panel-body">
      <form class="form-horizontal" id="signup-form" action="/account/delete"   onsubmit="return confirm('Are you sure you want to delete your account forever?')"   method="POST">
        <input type="hidden" name="_csrf" value="{{_csrf}}" />
    
        <div class="form-group">
          <div class="col-sm-6">
            <a id="delete">&nbsp;</a>
            <button class="btn btn-block btn-danger" type="submit">
              <i class="fa fa-trash-o"></i> Delete my account
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{{#extend "footer"}}
  {{> footer}}
{{/extend}}
