


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <img class="img-circle" src="<%= profile.gravatar(120) %>">
    </div>

    <div class="col-sm-10">
      <h1 class="blog-post-title"><%= profile.get('name') %></h1>

      <%
        if(profile.get('about')) {
      %>
        <p><%= profile.get('about') %></p>
      <%
        }
      %>

      <ul class="nav nav-tabs" style="margin-bottom: 20px;">
        <li class="active">
          <a href="#myposts" data-toggle="tab">
            <span class="glyphicon glyphicon-list-alt"></span> 
            Posts
          </a>
        </li>
        <li>
          <a href="#myevents" data-toggle="tab">
            <span class="glyphicon glyphicon-calendar"></span>
            Events
          </a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="myposts">
        <% 
          if (myposts.length > 0) {
        %>
          <dl class="dl-horizontal"> 
          <% 
          myposts.forEach(function (post) {
            if(post.get('published')) {
          %>
            <dt style="width:84px"><%= post.publishingDate('DD/MM/YY') %></dt>
            <dd><a href="/blog/<%= post.get('slug') %>"><%= post.get('title') %></a></dd>
          <%
            }
          });
          %>
          </dl>
        <%
          }
        %>
        </div>
        <div class="tab-pane" id="myevents">
        <% 
          if (myevents.length > 0) {
        %>
          <dl class="dl-horizontal"> 
          <% 
            myevents.forEach(function (event) {
          %>
            <dt style="width:84px"><%= event.parseDate('DD/MM/YY') %></dt>
            <dd><a href="/events/<%= event.get('id') %>"><%= event.get('title') %></a></dd>
          <%
            });
          %>
          </dl>
        <%
          }
        %>
        </div>
      </div>
    </div>
  </div>
</div>
