<div id="flash">

  {{#if messages.errors}}
    <div class="alert alert-danger animated fadeIn">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      {{#each messages.errors}}
          <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}

  {{#if messages.error}}
    <div class="alert alert-danger animated fadeIn">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      {{#each messages.error}}
          <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}

  {{#if messages.warning}}
    <div class="alert alert-warning animated fadeIn">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      {{#each messages.warning}}
          <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}

  {{#if messages.info}}
    <div class="alert alert-info animated fadeIn">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      {{#each messages.info}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}

  {{#if messages.success}}
    <div class="alert alert-success animated fadeIn">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      {{#each messages.success}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
</div>
