<div id="flash">

  {{#if messages.errors}}
    <div class="alert alert-danger animated fadeIn">
      {{#each messages.errors}}
          <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}

  {{#if messages.error}}
    <div class="alert alert-danger animated fadeIn">
      {{#each messages.error}}
          <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}

  {{#if messages.warning}}
    <div class="alert alert-warning animated fadeIn">
      {{#each messages.warning}}
          <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}

  {{#if messages.info}}
    <div class="alert alert-info animated fadeIn">
      {{#each messages.info}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}

  {{#if messages.success}} 
    <div class="alert alert-success animated fadeIn">
      {{#each messages.success}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
</div>