  
<% 
  posts.forEach(function (post) { 
%>
  <!-- blog-post -->
  <div class="blog-post">
    <h1 class="blog-post-title">
      <a href="/blog/<%= post.get('slug') %>">
      	<%= post.get('title') %>
      </a>
    </h1>

    <p class="blog-post-meta">
      <%= post.publishingDate() %> by 
      <a href="/users/<%= post.get('user_id') %>"><%= post.get('name') %></a>
    </p>
    <%- post.get('html') %>
    
  </div>
  <!-- /.blog-post -->

<% 
  }); 
%>