
{{#if collection}}
  {{#each collection}}
    <div class="blog-post">
      <h1 class="blog-post-title">
        <a href="/blog/{{slug}}">
        	{{title}}
        </a>
      </h1>
      <p class="blog-post-meta">
       {{#parseDate published_at 'MMMM D, YYYY'}}{{/parseDate}} by <a href="/devs/{{user_id}}">{{name}}</a>
      </p>

      {{#htmlSummary html}}{{/htmlSummary}}

      <a href="/blog/{{slug}}">Read more &raquo;</a>
    </div>
  {{/each}}
{{/if}}