
 {{#if collection}}
<div class="col-sm-6 col-md-5">
  <h3>
    <span class="glyphicon glyphicon-map-marker text-danger"></span> 
    <a href="/meetups">Featured Meetups</a>
  </h3>

  {{#each collection}}
    <div class="media">
      <a class="pull-left" href="/meetups/{{slug}}">
        <img class="media-object" src="{{image_url}}" style="width:48px; height:48px" alt="{{name}}">
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <a href="/meetups/{{slug}}">
            {{name}}
          </a>
        </h4>
        {{short_desc}}
      </div>
    </div>
  {{/each}}
</div>
{{/if}}