

<div class="bs-callout bs-callout-info">
  <div style="padding:10px">
    <div class="media">
      <a class="pull-left" href="/devs/{{author.slug}}">
        <img class="media-object" style="width:48px; height:48px;" src="{{gravatar}}"  alt="{{author.name}}">
      </a>
      <div class="media-body">
        <h4 class="media-heading"><a href="/devs/{{author.slug}}">{{author.name}}</a></h4>
        {{author.about}}
      </div>
    </div>
  </div>     
</div>