

{{#extend "navigation"}}
  {{> navigation}}
{{/extend}}


{{> leftsidebar}}

<div class="col-sm-9 blog-main">

  {{> flash}}

  <div class="modal fade" id="contactform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Send message to all users</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" action="/contact/all" method="POST">
            <input type="hidden" name="_csrf" value="{{_csrf}}" />
            <div class="form-group">
              <label class="col-sm-2 control-label" for="message">
                Message:
              </label>
              <div class="col-sm-10">
                <textarea class="form-control" rows="8" name="message" id="message" required=""></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-success" type="submit">
                  <span class="glyphicon glyphicon-check"></span> Send
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


    <h1><span class="glyphicon glyphicon-user"></span> Users</h1>

  <div class="panel panel-default">

    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-12">

          <button class="btn btn-success pull-right" style="margin-left: 5px;" data-toggle="modal" data-target="#contactform">
            <i class="fa fa-envelope"></i> Send Message
          </button>

          <a role="button" href="/users/new" class="btn btn-danger pull-right">
            <span class="glyphicon glyphicon-user"></span> New User
          </a>
        </div>

      </div>


    </div>

    <div class="panel-body">
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>
              Name
            </th>
            <th>
              Email
            </th>
            <th>
              Last logged in
            </th>
            <th>
              <span class="glyphicon glyphicon-eye-open"></span>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>

            </th>
            <th>
            </th>
          </tr>
        </thead>

        <tbody>
          {{#each users}}
            <tr>
              <td>
                <a href="/users/edit/{{id}}">{{name}}</a>
              </td>
              <td>
                {{email}}
              </td>
              <td>
                {{#parseDate last_login 'HH:mm:ss - DD MMM YY'}}{{/parseDate}}
              </td>
              <td style="text-align:center">
                {{views}}
              </td>
              <td style="text-align:center">
                <a href="/loginas/{{id}}" title="Login As">
                  <span class="fa fa-unlock-alt"></span>
                </a>
              </td>
              <td style="text-align:center">
                <a href="/users/edit/{{id}}" title="Edit">
                  <span class="glyphicon glyphicon-pencil"></span>
                </a>
              </td>
              <td style="text-align:center">
                <a href="/users/delete/{{id}}" onclick="return confirm('Are you sure you want to delete that post?')" class="text-danger delete-post" title="Delete">
                  <span class="glyphicon glyphicon-trash"></span>
                </a>
              </td>
              <td style="text-align:center">
                <a href="/devs/{{slug}}" target="_blank" title="View Profile" class="text-danger">
                  <small><span class="glyphicon glyphicon-new-window"></span></small>
                </a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>

      {{> pagination}}

    </div>
  </div>

</div>


{{#extend "footer"}}
  {{> footer}}
{{/extend}}
