
{{> leftsidebar}}

<div class="col-sm-9 blog-main">

  {{> flash}}

  <ul class="nav nav-tabs" style="margin-bottom: 20px;">
    <li>
      <a href="/account/blog">
        <span class="glyphicon glyphicon-list-alt"></span> Posts
      </a>
    </li>

    <li class="active">
      <a href="/account/blog/categories">
        <span class="glyphicon glyphicon-list"></span> Categories
      </a>
    </li>
    <a role="button" href="/category/new" class="btn btn-danger pull-right">
      <span class="glyphicon glyphicon-list"></span> New Category
    </a>
  </ul>

  <div class="container-fluid">
    <div class="row" style="text-align:right">
        <!--
        <a role="button" href="/blog/new" class="btn btn-danger">
          <span class="glyphicon glyphicon-list-alt"></span> New Post
        </a> 
  
        <button type="button" class="btn btn-primary">
          <span class="glyphicon glyphicon-pencil"></span> Edit
        </button> 
  
        <button type="button" class="btn btn-success">
          <span class="glyphicon glyphicon-ok"></span> Publish
        </button> 
  
        <button type="button" class="btn btn-danger">
          <span class="glyphicon glyphicon-trash"></span> Delete
        </button>
        -->
    </div>
    <div class="row" style="margin-top:5px;">
      <table class="table table-bordered table-striped table-condensed">
        <thead>
          <tr>
            <th style="text-align:center" class="active">
              <input type="checkbox" id="selectall">
            </th>
            <th>
              Title
            </th>
            <th>
              Created At
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
              <span class="glyphicon glyphicon-eye-open"></span>
            </th>
          </tr>
        </thead>
  
        <tbody>
          {{#ifCond posts.length '>' 0}}
            {{#each posts}}
            <tr>
              <td style="text-align:center" class="active">
                <input type="checkbox" id="id" value="{{id}}">
              </td>
              <td>
                <a href="/blog/edit/{{id}}">{{title}}</a>
                <a href="/blog/{{slug}}" target="_blank" title="View Post" class="text-danger">
                  <small><span class="glyphicon glyphicon-new-window"></span></small>
                </a>
              </td>
              <td>
                {{#parseDate created_at 'DD-MM-YYYY HH:MM:ss'}}{{/parseDate}}
              </td>
              <td style="text-align:center">
                <a href="/blog/edit/{{id}}" title="Edit">
                  <span class="glyphicon glyphicon-pencil"></span>
                </a> 
              </td>
              <td style="text-align:center">
                {{#isPublished published id}}{{/isPublished}}
              </td>
              <td style="text-align:center">
                <a href="/blog/delete/{{id}}" onclick="return confirm('Are you sure you want to delete that post?')" class="text-danger delete-post" title="Delete">
                  <span class="glyphicon glyphicon-trash"></span> 
                </a> 
              </td>
              <td style="text-align:center">
                {{views}}
              </td>
            </tr>
            {{/each}}
          {{/ifCond}}
        </tbody>
      </table>
    </div>
  
    {{> pagination}}
  
  </div>
</div>