

{{#extend "navigation"}}
  {{> navigation}}
{{/extend}}


{{> leftsidebar}}

<div class="col-sm-9 blog-main">

  {{> flash}}

  <ul class="nav nav-tabs" style="margin-bottom: 20px;">
    <li>
      <a href="/admin/settings">
        <span class="glyphicon glyphicon-wrench"></span> Global  Settings
      </a>
    </li>
    <li class="active">
      <a href="/admin/blog/settings">
        <span class="glyphicon glyphicon-cog"></span> Blog Settings
      </a>
    </li>
    <li>
      <a href="/admin/settings/account">
        <span class="glyphicon glyphicon-cog"></span> Account Settings
      </a>
    </li>
  </ul>

  <div class="panel panel-default">
    <div class="panel-heading">
      Blog Settings
    </div>

    <div class="panel-body">
      <form class="form-horizontal" id="signup-form" action="/admin/config" method="POST">
        <input type="hidden" name="_csrf" value="{{_csrf}}" />
        <input type="hidden" name="id" value="blog" />

          <div class="form-group">
            <label class="col-sm-3 control-label" for="title">Title</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="title" id="title" value="{{blog.title}}" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="description">Description</label>
            <div class="col-sm-7">
              <textarea class="form-control" rows="4" name="description" id="description">{{blog.description}}</textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="postsPerPage">Posts Per Page</label>
            <div class="col-sm-7">
              <input class="col-xs-2" type="text" name="postsPerPage" id="postsPerPage" value="{{blog.postsPerPage}}" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="showAuthor">Show Author</label>
            <div class="col-sm-7">
              <label class="radio-inline">
                <input type="radio" {{#if blog.showAuthor}}checked="checked"{{/if}} name="showAuthor" value="yes" data-toggle="radio">
                Yes
              </label>
              <label class="radio-inline">
                <input type="radio" {{#if blog.showAuthor}}{{else}}checked="checked"{{/if}}  name="showAuthor" value="no" data-toggle="radio">
                No
              </label>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="showTags">Show Tags</label>
            <div class="col-sm-7">
              <label class="radio-inline">
                <input type="radio" {{#if blog.showTags}}checked="checked"{{/if}} name="showTags" value="yes" data-toggle="radio">
                Yes
              </label>
              <label class="radio-inline">
                <input type="radio" {{#if blog.showTags}}{{else}}checked="checked"{{/if}}  name="showTags" value="no" data-toggle="radio">
                No
              </label>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="showComments">Show Comments</label>
            <div class="col-sm-7">
              <label class="radio-inline">
                <input type="radio" {{#if blog.showComments}}checked="checked"{{/if}} name="showComments" value="yes" data-toggle="radio">
                Yes
              </label>
              <label class="radio-inline">
                <input type="radio" {{#if blog.showComments}}{{else}}checked="checked"{{/if}}  name="showComments" value="no" data-toggle="radio">
                No
              </label>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="showDate">Show Date</label>
            <div class="col-sm-7">
              <label class="radio-inline">
                <input type="radio" {{#if blog.showDate}}checked="checked"{{/if}} name="showDate" value="yes" data-toggle="radio">
                Yes
              </label>
              <label class="radio-inline">
                <input type="radio" {{#if blog.showDate}}{{else}}checked="checked"{{/if}}  name="showDate" value="no" data-toggle="radio">
                No
              </label>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="showShareButtons">Show Share Buttons</label>
            <div class="col-sm-7">
              <label class="radio-inline">
                <input type="radio" {{#if blog.showShareButtons}}checked="checked"{{/if}} name="showShareButtons" value="yes" data-toggle="radio">
                Yes
              </label>
              <label class="radio-inline">
                <input type="radio" {{#if blog.showShareButtons}}{{else}}checked="checked"{{/if}}  name="showShareButtons" value="no" data-toggle="radio">
                No
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-7">
              <button class="btn btn-success" type="submit">
                <i class="fa fa-check"></i> Update
              </button>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>

{{#extend "footer"}}
  {{> footer}}
{{/extend}}
