
<div class="panel panel-default">

  <div class="panel-heading">
    <span class="glyphicon glyphicon-list-alt"></span> Edit Post
    <a href="/account/blog" class="close pull-right">&times;</a>
  </div>

  <div class="panel-body">
  <form id="edit-form" action="/blog/edit" method="POST">
    <input type="hidden" name="_csrf" value="{{_csrf}}" />
    <input type="hidden" name="id" value="{{post.id}}" />

    <div class="row">
      <div class="col-sm-5 col-md-5">
        <div class="form-group">
          <label class="control-label" for="title">
            Title *
          </label>

          <input class="form-control" type="text" name="title" id="title" value="{{post.title}}" />
        </div>

        <div class="form-group">
          <label class="control-label" for="category">
            Category
          </label>

          <select name="category" class="form-control" id="category">
            {{#each categories}}
              <option value="{{id}}" {{#ifCond id '==' post.category_id}}selected{{/ifCond}}>{{name}}</option>
            {{/each}}
          </select>
        </div>

        <div class="form-group">
          <label class="control-label" for="tags">Tags</label>
          <input class="form-control" type="text" name="tags" id="tags" value="{{#fillTags tags}}{{/fillTags}}" required="" />
        </div>

        <div class="form-group">
          <label class="control-label" for="meta_title">
            Meta Title
          </label>
          <input class="form-control" type="text" name="meta_title" id="meta_title" value="{{post.meta_title}}" required=""  />
        </div>

        <div class="form-group">
          <label class="control-label" for="meta_description">
            Meta Description
          </label>
          <input class="form-control" type="text" name="meta_description" id="meta_description" value="{{post.meta_description}}" required="" />
        </div>

        <div class="form-group">
          <div class="checkbox-inline">
            <label>
              <input type="checkbox" name="published" {{#if post.published}}checked="true"{{/if}} > Published
            </label>
          </div>
          <div class="checkbox-inline">
            <label>
              <input type="checkbox" name="featured" {{#if post.featured}}checked="true"{{/if}}> Featured
            </label>
          </div>
        </div>
      </div>

      <div class="col-sm-7 col-md-7">
        <div class="form-group">
          <label class="control-label" for="markdown">Post *</label>

          <div id="epiceditor" style="height: 400px; padding: 0px;" class="form-control">
            <textarea style="display:none" class="form-control" rows="15" name="markdown" id="markdown" required="">{{post.markdown}}</textarea>
          </div>
        </div>
      </div>
    
      <div class="col-sm-12 col-md-12">
        <div class="form-group">
          <div class="pull-right">
            <a href="/account/blog" class="btn btn-default">
                <span class="glyphicon glyphicon-remove"></span> Cancel
            </a>
            <button class="btn btn-success" type="submit">
              <span class="glyphicon glyphicon-ok"></span> Update Post
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  </div>
</div>
