

{{#extend "navigation"}}
  {{> navigation}}
{{/extend}}


{{#extend "jumbotron"}}
<div id="jumbotron" class="jumbotron blog">
  <div class="container">
    <h1>Blog</h1>
    <p>Node.js articles</p>
  </div>
</div>
{{/extend}}

<div class="col-sm-9 blog-main">

  {{> flash}}

  <div class="container-fluid">
    {{#if category}}
      <div class="well well-sm bg-info row filter-tags">
        <span class="glyphicon glyphicon-tag text-danger"></span> {{category}}
      </div>
    {{/if}}
    {{#if tag}}
      <div class="well well-sm bg-info row filter-tags">
        <span class="glyphicon glyphicon-tags text-danger"></span>  {{tag}}
      </div>
    {{/if}}

    {{#each posts}}
    <div class="row box-shadow" style="margin-bottom: 20px">
      <div class="media">
        <a href="/blog/{{slug}}" class="pull-left">
          <img class="media-object" title="Post" {{#if image.filename}}src="/uploads/{{image.filename}}"{{else}}data-src="holder.js/120x120?bg=#dff0d8&fg=#3c763d&text=NodeZA"{{/if}} alt="{{title}}" style="width:120px;height:120px">
        </a>
        <div class="media-body">
          <h3 class="media-heading" style="margin-top:5px">
            <a href="/blog/{{slug}}">
              {{title}}
            </a>
          </h3>
          <p class="blog-post-meta">
            {{#parseDate published_at 'MMMM D, YYYY'}}{{/parseDate}} |
            <span class="glyphicon glyphicon-tag text-danger"></span>
            <a href="/blog/category/{{category.slug}}" class="text-primary">{{category.name}}</a>
          </p>

          {{#htmlSummary html}}{{/htmlSummary}}
          <a href="/blog/{{slug}}" class="text-danger">read more &raquo;</a>
        </div>
      </div>
    </div>
    {{/each}}

    {{> pagination}}
  </div>
</div>

{{> sidebar}}


{{#extend "footer"}}
  {{> footer}}
{{/extend}}
