

{{#extend "twitterCard"}}
<meta property="og:type" content="article">
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@node_za" />
<meta name="twitter:title" content="{{post.title}}" />
<meta name="twitter:description" content="{{past.meta_description}}" />
<meta name="twitter:image" content="https://nodeza.co.za/img/twitter_card.jpg" />
{{/extend}}


{{#extend "navigation"}}
  {{> navigation}}
{{/extend}}


{{#extend "stylesheets"}}
<link href="/css/prettify.css" rel="stylesheet">
{{/extend}}


<div class="col-sm-9 blog-main box-shadow nodeza-blog-post" style="padding-top:20px;padding-bottom:20px">
  {{> flash}}

  {{#if post}}
    <div class="blog-main-body">

      <h1 class="blog-post-title">
        {{post.title}}
      </h1>
      <p class="blog-post-meta" style="padding-right:10px">
      {{#if config.showDate}}
        {{#parseDate post.published_at 'MMMM D, YYYY'}}{{/parseDate}}
      {{/if}}
      {{#if config.showAuthor}}
        by
        <a href="/devs/{{author.slug}}">{{author.name}}</a>
      {{/if}}

      {{#if config.showTags}}
        |
        <span class="glyphicon glyphicon-tag"></span>
        <a href="/blog/category/{{category.slug}}" class="text-danger">{{category.name}}</a>
        {{#each post.tags}}
          <a href="/blog/tags/{{slug}}">{{name}}</a>
        {{/each}}
      {{/if}}
      {{#if config.showShareButtons}}
        <a target="_blank" data-toggle="tooltip" data-placement="top" href="http://www.facebook.com/share.php?u={{url}}" class="share share-fb" title="Share on Facebook">
          &nbsp;
        </a>
        <a target="_blank" data-toggle="tooltip" data-placement="top" href="http://twitter.com/home?status={{url}}" class="share share-twitter" title="Share on Twitter">
          &nbsp;
        </a>
        <a target="_blank" data-toggle="tooltip" data-placement="top" href="http://reddit.com/submit?url={{url}}" class="share share-reddit" title="Share on Reddit">
          &nbsp;
        </a>
        <a target="_blank" data-toggle="tooltip" data-placement="top" href="http://www.linkedin.com/shareArticle?mini=true&url={{url}}" class="share share-linkedin" title="Share on LinkedIn">
          &nbsp;
        </a>

        <span class="pull-right">Share</span>
      {{/if}}
      </p>

      {{{post.html}}}

    </div>

    {{#if config.showAuthor}}
      {{#list @WidgetCollection.belowpost author}}{{/list}}
    {{/if}}

    {{#if config.showComments}}
      <div id="disqus_thread"></div>
    {{/if}}
  {{/if}}
</div>

{{> sidebar}}


{{#extend "footer"}}
  {{> footer}}
{{/extend}}


{{#extend "scripts"}}
<script src="/js/prettify.js"></script>
<script>
  (function ($) {
    $('.share').tooltip();

    function addClassNames() {
        var pre = document.getElementsByTagName('pre'), i;

        for (i = 0; i < pre.length; i++) {
            pre[i].className = "prettyprint linenums";
        }
    }


    function inspectLinks() {
        var links = document.getElementsByTagName('a'),
            i, href, isInternalLink,
            mysite = window.location.href;

        isInternalLink = function (href, link) {
            var hrefParser = document.createElement('a'),
                linkParser = document.createElement('a');

            hrefParser.href = href;
            linkParser.href = link;

            return hrefParser.hostname === linkParser.hostname;
        };

        for (i = 0; i < links.length; i++) {
            href = links[i].href;

            if (!isInternalLink(mysite, href)) {
                links[i].target = '_blank';
            }
        }
    }

    addClassNames();
    prettyPrint();
    inspectLinks();
  })(jQuery);
</script>
{{#if config.showComments}}
<script type="text/javascript" data-cfasync="false">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'nodeza'; // required: replace example with your forum shortname

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{{/if}}
{{/extend}}
