
{{#extend "stylesheets"}}
<link href="/css/prettify.css" rel="stylesheet">
{{/extend}}


<div class="col-sm-9 blog-main">
  {{> flash}}

  {{#if post}}
    <div class="blog-main-body">  
      <h2 class="blog-post-title">
        {{post.title}}
      </h2>
      <p class="blog-post-meta" style="padding-right:10px">
        {{#parseDate post.published_at 'MMMM D, YYYY'}}{{/parseDate}} by 
        <a href="/devs/{{author.slug}}">{{author.name}}</a>
        | 
        <span class="glyphicon glyphicon-tag"></span>
        <a href="/blog/category/{{category.slug}}" class="text-danger">{{category.name}}</a>
        {{#each post.tags}}
          <a href="/blog/tags/{{slug}}">{{name}}</a> 
        {{/each}}
  
        <a target="_blank" data-toggle="tooltip" data-placement="top" href="http://www.facebook.com/share.php?u={{url}}" class="share share-fb" title="Share on Facebook"> 
          &nbsp;
        </a>
        <a target="_blank" data-toggle="tooltip" data-placement="top" href="http://twitter.com/home?status={{url}}" class="share share-twitter" title="Share on Twitter">
          &nbsp;
        </a>
        <a target="_blank" data-toggle="tooltip" data-placement="top" href="http://reddit.com/submit?url={{url}}" class="share share-reddit" title="Share on Reddit">
          &nbsp;
        </a>
        <a target="_blank" data-toggle="tooltip" data-placement="top" href="http://www.linkedin.com/shareArticle?mini=true&url={{url}}" class="share share-linkedin" title="Share on LinkedIn">
          &nbsp;
        </a>
  
        <span class="pull-right">Share</span> 
      </p>
  
      {{{post.html}}}
      
    </div>
  
    <div class="blog-main-footer post-author">
      <div style="padding:10px">
        <div class="media">
          <a class="pull-left" href="/devs/{{author.slug}}">
            <img class="media-object" style="width:48px; height:48px;" src="{{gravatar}}"  alt="{{author.name}}">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Author: <a href="/devs/{{author.slug}}">{{author.name}}</a></h4>
  
            {{author.about}}
          </div>
        </div>
      </div>     
    </div>
  {{/if}}
</div>

{{> sidebar}}

{{#extend "scripts"}}
<script>
  (function ($) {
    $('.share').tooltip()
  })(jQuery)
</script>
{{/extend}}