

<div class="row">
  <div class="col-sm-12 col-md-9">
    <ul class="list-inline">
      {{#each collection}}
        <li>
          <a href="{{route.path}}" title="{{title}}" target="{{target}}" class="{{class_attr}}" id="{{id_attr}}"> 
            {{inner_text}}
          </a>
        </li>
        <li>&middot;</li>
      {{/each}}
    </ul>
  </div>
  <div class="col-sm-12 col-md-3">
    <ul class="list-inline pull-right" style="font-size:18px">
      <li>
        <a href="{{config.twitter}}" target="_blank" data-toggle="tooltip" data-placement="top" title="Follow us on Twitter">
          <span class="fa fa-twitter">&nbsp;</span>
        </a>
      </li>
      <li>
        <a href="{{config.github}}" target="_blank" data-toggle="tooltip" data-placement="top" title="Fork us on Github">
          <span class="fa fa-github" style="color:#555">&nbsp;</span>
        </a>
      </li>
    </ul>
  </div>
</div>